{{- define "main" }}

{{ partial "masthead.html" . }}

{{- $sections := $.Site.GetPage "/sections" }}
{{ range $ind, $elem := (sort $sections.Resources ".Params.weight") }}
<section id="sec-ind-{{ $ind }}" class="{{ default "damon-light" .Params.theme }} content-section">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-10">
  {{ default "" $elem.Content }}
    </div></div></div>
</section>
{{ end }}

{{- end -}}