{{ $data := dict }}
{{ $path := .Get "file" }}
{{ with resources.Get $path }}
<ul>
  {{ with .Content | transform.Unmarshal (dict "delimiter" ",") }}
    {{ $rows := . }}
    {{- $headerRow := index $rows 0 -}}
    {{- $dataRows := after 1 $rows -}}
    {{ range $dataRows }}
    <li>
         {{ if eq (index . 2) "" }}
            <p><strong>{{ index . 0 }}</strong><br>
              {{index . 1}}
            </p>
        {{ else }}
            <p><strong><a title="Full Citation in the ACM Digital Library" referrerpolicy="no-referrer-when-downgrade" href="{{ index . 2 }}">{{ index . 0 }}</a></strong><br>
              {{index . 1}}
            </p>
        {{ end }}
    </li>
    {{ end }}
  {{ end }}
</ul>
{{ else }}
  {{ errorf "Unable to get global resource %q" $path }}
{{ end }}
